<h1><%= @user.username %></h1>
<% if @user.items.empty? %>
  <p>This user hasn't posted any items.</p>
  <p>Click<a href="/items"> here</a> to go back to available items.</p>
<% else %>
  <% @user.items.each do |item| %>
    <div>
      <h2><a href="/items/<%= item.id %>"><%= item.name %></a></h2>
      <p><%= item.description %></p>
      <p><%= item.location %></p>
      <% if @user.id == current_user.id %>
        <a href="/items/<%= item.id %>/edit">Edit item</a>
         <form method="post" action="/items/<%= item.id %>/delete">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete Item">
        </form>
      <% end %>
    </div>
  <% end %>
<% end %>
<p><a href="/items">Back to items</a></p>