<h1><%= @user.name.capitalize %>'s Items</h1>
<% if @user.items.empty? %>
  <p>This user hasn't posted any items.</p>
  <p>Click<a href="/items"> here</a> to go back to available items.</p>
<% else %>
  <% @user.items.each do |item| %>
    <div class="card-panel grey lighten-3 z-depth-0">
      <h2><a href="/items/<%= item.id %>"><%= item.name %></a></h2>
      <p><%= item.description %></p>
      <p><%= item.location %></p>
      <% if @user.id == current_user.id %>

        <form action="/items/<%= item.id %>/edit" method="get">
          <input type="hidden" id="hidden" name="_method" value="patch">
          <input type="submit" value="Edit Item" class="waves-effect waves-light btn">
        </form>
        <br>
        <form method="post" action="/items/<%= item.id %>/delete">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete Item" class="waves-effect waves-light btn">
        </form>

      <% end %>
    </div>
  <% end %>
<% end %>
<% if !@user.items.empty? %>
  <p><a href="/items">Back to items</a></p>
<% end %>