<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>
<h1>Welcome, <a href="/users/<%= @user.slug %>"><%= @user.name.capitalize %></a>!</h1>
<p><a href="/items/new">Add a New Item</a></p>
<p><a href="/tags">Find by Tag</a></p>
<h3>List of the latest posted items</h3>
<% @items.reverse.each do |item| %>
  <div class="row">
	  <div class="card-panel light-blue darken-1 z-depth-0 col s8">
	    <h5><a class="white-text" href="/items/<%= item.id %>"><%= item.name %></a></h5>
	    <p class="white-text"><%= item.description %></p>
	  </div>
  </div>
<% end %>



 