<div class="card-panel grey lighten-3 z-depth-0">
	<h2><%= @item.name %></h2>
	<p>Location: <%= @item.location %></p>
	<p>Description: <%= @item.description %></p>
	<p>Posted by <a href="/users/<%= @item.user.name %>"><%= @item.user.name %></a></p>
  <p>Tag: <a href="/tags/<%= @item.tag.id %>"><%= @item.tag.name %></a></p>
</div>
<% if @item.user.id == @user.id %>
  <br>
  <form action="/items/<%= @item.id %>/edit" method="get">
    <input type="hidden" id="hidden" name="_method" value="patch">
    <input type="submit" value="Edit Item" class="waves-effect waves-light btn">
  </form>
  <br>
  <form method="post" action="/items/<%= @item.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Item" class="waves-effect waves-light btn">
  </form>
<% end %>
<p><a href="/items">Back to items</a></p>