<h1><%= @item.name %></h1>
<h2>Location: <%= @item.location %></h2>
<p>Description: <%= @item.description %></p>
<p>Posted by <a href="/users/<%= @item.user.username %>"><%= @item.user.username %></a></p>
<% if @item.user.id == @user.id %>
  <a href="/items/<%= @item.id %>/edit">Edit item</a>
  <br>
  <form method="post" action="/items/<%= @item.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Item">
  </form>
<% end %>
<p><a href="/items">Back to items</a></p>